<table border="1">
    <tr>
        <td>name</td>
        <td>date_from</td>
        <td>date_to</td>
        <td>amount</td>
        <td>is_bought</td>
        <td>comment</td>
    </tr>
    {% for plan in plans %}
        <tr>
            <td>{{ plan.name }}</td>
            <td>{{ plan.date_from }}</td>
            <td>{{ plan.date_to }}</td>
            <td>{{ plan.amount }}</td>
            <td>{{ plan.is_bought }}</td>
            <td>{{ plan.comment }}</td>
        </tr>
    {% endfor %}
</table>